/**
 * @author ä¸Šæµ·æ¯”è‰¯ç½‘ç»œç§‘æŠ€æœ‰é™å…¬å¸ (contact@beliang.com)
 * 
 */

.transparent_class {
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

body {
    width: 101%;
    height: 101%;
    font-size: 20px;
    color: #002c54;
    background-color: transparent;
}

body p,

/* structural elements ç»“æž„å…ƒç´  */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements åˆ—è¡¨å…ƒç´  */

th,
td
/* table elements è¡¨æ ¼å…ƒç´  */

{
    font-size: 20px;
}

.clear-float {
    clear: both;
}


/*åº•éƒ¨åˆ‡æ¢*/

.p-n-r {
    width: 100%;
    height: 27px;
    line-height: 27px;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 10;
}

.p-r {
    width: 90%;
    margin: 0 auto;
}

.p-t-r {
    width: 100%;
    height: 42px;
    line-height: 42px;
    position: absolute;
    top: 10px;
    left: 0;
    text-align: center;
    z-index: 10;
}

.p-t {
    width: 90%;
    margin: 0 auto;
    background: #fff;
}

.p-t .page {
    width: 20%;
    height: 42px;
    line-height: 42px;
    color: #002c54;
    background-color: #fff;
    text-align: center;
    left: 50%;
    margin-left: -15%;
    position: absolute;
    font-size: 20px;
}

.page2 {
    width: 10%;
    height: 42px;
    line-height: 42px;
    color: #002c54;
    background: rgba(247, 247, 247, 0.5)!important;
    filter: Alpha(opacity=50);
    background: #f7f7f7;
    text-align: center;
    left: 50%;
    margin-left: 5%;
    position: absolute;
    font-size: 20px;
}

#up {
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.prev-f,
.next-f {
    width: 5%;
    height: 27px;
    line-height: 27px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.prev,
.next {
    width: 5%;
    height: 27px;
    line-height: 27px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.next {}

.next,
.next-f {
    background: url(../images/next.png) #f7f7f7 center center no-repeat;
    background: rgba(247, 247, 247, 0.5)!important;
    filter: Alpha(opacity=50);
    background: #f7f7f7;
}

.prev,
.prev-f {
    background: url(../images/prev.png) #f7f7f7 center center no-repeat;
    background: rgba(247, 247, 247, 0.5)!important;
    filter: Alpha(opacity=50);
    background: #f7f7f7;
}

.prev-f:hover,
.prev:hover {
    background: url(../images/prev.png) #e8e8e8 center center no-repeat;
}

.next-f:hover,
.next:hover {
    background: url(../images/next.png) #e8e8e8 center center no-repeat;
}

.prev-f:hover,
.next-f:hover,
.out-f:hover,
.prev:hover,
.next:hover,
.out:hover {
    cursor: pointer;
}

.next.disabled:hover {
    cursor: not-allowed;
    background: url(../images/next.png) #f7f7f7 center center no-repeat;
}

.out-f {
    width: 5%;
    height: 27px;
    line-height: 27px;
    color: #002c54;
    background: rgba(247, 247, 247, 0.5)!important;
    filter: Alpha(opacity=50);
    background: #f7f7f7;
    text-align: center;
    margin-left: 0.5%;
}

.out {
    width: 5%;
    height: 27px;
    line-height: 27px;
    color: #002c54;
    background: rgba(247, 247, 247, 0.5)!important;
    filter: Alpha(opacity=50);
    background: #f7f7f7;
    text-align: center;
}

.out-f:hover,
.out:hover {
    background-color: #e8e8e8;
}

.page {
    width: 5%;
    height: 27px;
    line-height: 27px;
    color: #002c54;
    background: rgba(247, 247, 247, 0.5)!important;
    filter: Alpha(opacity=50);
    background: #f7f7f7;
    text-align: center;
}

.page1 {
    width: 5%;
    height: 27px;
    line-height: 27px;
    color: #002c54;
    background: rgba(247, 247, 247, 0.5)!important;
    filter: Alpha(opacity=50);
    background: #f7f7f7;
    text-align: center;
    margin-left: 0.5%;
}

.no-border {
    border: 0;
}

.cloes {
    position: absolute;
    right: 10px;
    top: 0px;
}

.cloes:hover {
    cursor: pointer;
}

.audio-image {
    cursor: pointer;
    position: absolute;
    width: 20%;
    height: 80px;
    background: transparent;
    border: transparent;
}

.question {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 600px;
    left: 600px;
    background-color: transparent;
}

.question1 {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 680px;
    left: 600px;
    background-color: transparent;
}

.mydiv {
    background-color: #282d33;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    z-index: 999;
    width: 400px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -200px!important;
    /*FF IE7 该值为本身宽的一半 */
    margin-top: -100px!important;
    /*FF IE7 该值为本身高的一半*/
    margin-top: 0px;
    position: fixed!important;
    /* FF IE7*/
    position: absolute;
    /*IE6*/
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2:document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);
    /*IE5 IE5.5*/
}

.mydiv span {
    position: relative;
    display: block;
    top: 30px;
}

.mydiv span button {
    position: relative;
    top: 20px;
    width: 200px;
    color: #ffffff;
    background: url("../btnbg.png") no-repeat center;
}


/* radio button */

.item {
    float: left;
    width: 50%;
    text-align: left;
    color: #808080;
    font-size: 16px;
    margin-top: 40px;
}

.radio-text {
    font-size: 16px;
    line-height: 40px
}

.radio-img {
    width: 20px;
    height: 20px;
    float: left;
    margin: 10px;
}

.confirm {
    font-size: 20px;
    line-height: 40px;
    width: 80px;
    color: #002f73;
    letter-spacing: 5px;
    text-align: center;
    margin: 60px auto;
    border: 1px solid #002f73;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.duration5s {
    animation-duration: 5s !important;
    -webkit-animation-duration: 5s !important;
    /* Safari 和 Chrome */
}

.duration4s {
    animation-duration: 4s !important;
    -webkit-animation-duration: 4s !important;
    /* Safari 和 Chrome */
}

.duration3s {
    animation-duration: 3s !important;
    -webkit-animation-duration: 3s !important;
    /* Safari 和 Chrome */
}

.duration2s {
    animation-duration: 2s !important;
    -webkit-animation-duration: 2s !important;
    /* Safari 和 Chrome */
}